* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  border-collapse: collapse;
  text-decoration: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
div {
  display: block;
}
body {
  line-height: 1;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
li {
  list-style-type: none;
}
.frame-header {
  display: block;
  position: absolute;
  margin-right: 0;
  background-color: #FFFFFF;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  text-align: center;
}
.outline {
  outline: 1px solid #A9A9A9;
}
.margin-block-footer {
  /*не удалять*/
  margin: 20px auto;
}
@font-face {
  font-family: "Open Sans", sans-serif;
}
body {
  margin: 0 auto;
  text-align: center;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #283645;
}
.layout-center-wrapper {
  min-width: 320px;
  margin: 0 auto;
}
h1,
h2 {
  color: #000000;
}
main {
  min-width: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.address-map {
  width: 100%;
  position: relative;
  min-width: 320px;
  height: 200px;
  background-color: #e0e2e1;
}
.address-map__iframe {
  width: 100%;
  height: 200px;
}
.address-map:before,
.address-map:after {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  height: 60px;
  width: 50%;
}
.address-map:before {
  left: 0;
  background-image: linear-gradient(to right top, transparent 50%, #ffffff 50%);
}
.address-map:after {
  right: 0;
  background-image: linear-gradient(to left top, transparent 50%, #ffffff 50%);
}
.application-download {
  min-width: 320px;
  height: 260px;
  margin-top: 470px;
  background-color: #1d2631;
  padding-top: 13px;
}
.application-download__link {
  display: block;
  width: 275px;
  height: 17px;
  margin: 16px auto;
  border: 3px solid #ffffff;
  border-radius: 26px;
  color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 13px;
  padding: 17px 0;
}
.application-download__link:hover {
  color: #d22856;
  background-color: #FFFFFF;
}
.application-download__link:active {
  color: rgba(210, 40, 86, 0.4);
}
.application-download__apps-list {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.application-download__apps-item {
  display: block;
  margin: 0 15px;
  width: 50px;
  height: 60px;
  background-color: #CCEEFF;
}
.application-download__text {
  width: 289px;
  height: 37px;
  margin: 5px auto;
  color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
.application-download__apps-item--apple {
  background: url("../img/logo-apple.svg") no-repeat;
}
.application-download__apps-item--android {
  background: url("../img/logo-android.svg") no-repeat 5px 8px;
}
.application-download__apps-item--microsoft {
  background: url("../img/logo-microsoft.svg") no-repeat 3px 11px;
}
.fieldset {
  width: 280px;
  margin: 0 auto;
  text-align: left;
}
.fieldset--user-initials {
  border: 2px solid #ffffff;
}
.fieldset__label {
  margin-top: 10px;
}
.fieldset__text {
  color: #d22856;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
}
.fieldset__text--title-checkbox {
  line-height: 20px;
}
.fieldset__text-hidden,
.fieldset__phone-svg,
.fieldset__mail-svg {
  display: none;
}
.fieldset__text--title {
  text-align: center;
  line-height: 18px;
  padding: 0 15px;
  margin-left: 0;
  margin-bottom: 35px;
}
.fieldset__text--title-contact {
  display: none;
}
.fieldset__input {
  width: 255px;
  height: 60px;
  border: 2px solid #e5e5e5;
  margin-bottom: 20px;
  margin-top: 3px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-left: 20px;
}
.fieldset__input:hover {
  border: 2px solid #000000;
}
.fieldset__input:active {
  border: 2px solid #d22856;
}
.fieldset__checkbox-block {
  margin: 44px auto;
  text-align: left;
  position: relative;
  height: 39px;
}
.fieldset__checkbox-block input[type=checkbox],
.fieldset--devices input[type=radio] {
  display: none;
}
.fieldset__checkbox-label {
  padding-left: 70px;
}
.fieldset__checkbox-label--switch:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  display: block;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
}
.fieldset__checkbox-label--switch:hover::before {
  border: 2px solid #000000;
}
.fieldset__checkbox-label--switch:active::before {
  border: 2px solid #d22856;
}
.fieldset__checkbox:checked + .fieldset__checkbox-label--switch:after,
.fieldset__checkbox:checked + .fieldset__checkbox-label--switch:active:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 8px;
  display: block;
  width: 20px;
  height: 8px;
  border-left: 3px solid #d22856;
  border-bottom: 3px solid #d22856;
  border-radius: 2px;
  transform: rotate(-45deg);
}
.fieldset__devices-element {
  text-align: left;
  position: relative;
}
.fieldset__radio-label {
  display: block;
  position: relative;
  top: 10px;
  padding-left: 70px;
}
.fieldset__radio-label--toggle {
  margin-bottom: 57px;
}
.fieldset__radio-label--toggle:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  display: block;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #e5e5e5;
}
.fieldset__radio-label--toggle:hover::before {
  border: 2px solid #000000;
}
.fieldset__radio-label--toggle:active::before {
  border: 2px solid #d22856;
}
.fieldset__radio:checked + .fieldset__radio-label--toggle:after,
.fieldset__radio:checked + .fieldset__radio-label--toggle:active:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 12px;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #d22856;
}
.fieldset__textarea {
  width: 250px;
  height: 200px;
  border: 2px solid #e5e5e5;
  color: #283645;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 15px;
  margin: 5px auto 0 auto;
  resize: vertical;
}
.form {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}
.form__container {
  min-width: 320px;
}
.form__intro-text {
  padding: 20px 30px;
}
.form__container--user-initials-container {
  margin-bottom: 57px;
}
.form__container--contact-information-container {
  margin-top: 66px;
}
.form__container--device-container {
  margin-top: 65px;
}
.form__container--user-review {
  margin-top: 120px;
}
.form__container--submit {
  margin-top: 30px;
}
.form__submit-btn {
  width: 280px;
  height: 63px;
  margin: 0 auto;
  background-color: #2aab6d;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  border-radius: 3px;
}
.form__submit-btn:hover {
  background-color: #1c9b5e;
}
.form__submit-btn:active {
  color: #61b98f;
}
.form__submit-text-required-fields {
  height: 60px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 60px;
  text-transform: uppercase;
}
.form__submit-star {
  color: #d22856;
}
.form__submit-text-required-fields:after {
  content: "поля";
}
.form__submit-ok {
  padding-top: 50px;
}
.form__submit-error {
  padding: 50px 0;
}
.form__submit-ok,
.form__submit-error {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  width: 320px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 5px 0 #cacaca;
  border-radius: 5px;
}
.form__submit-ok--hidden,
.form__submit-error {
  display: none;
}
.form__submit-title {
  color: black;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 30px;
}
.form__submit-text {
  width: 260px;
  margin: 0 auto 40px auto;
  color: #283645;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
.form__submit-btn--ok {
  width: 280px;
  margin: 50px auto 0 auto;
}
.form__submit-text--error {
  width: 300px;
}
.form__container-background {
  background-color: #f2f2f2;
  height: 160px;
}
.information {
  margin-top: -20px;
}
.information__article-container {
  width: 320px;
  margin: 0 auto;
}
.information__container-title {
  width: 300px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 24px;
  line-height: 27px;
  font-weight: 300;
  margin: 335px auto 120px auto;
}
.information__title {
  margin-bottom: 30px;
}
.information__article {
  margin-bottom: 32px;
  padding: 0 20px;
}
.information__article-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
}
.information__article-story {
  font-size: 14px;
  line-height: 24px;
}
.information__picture {
  margin-top: 39px;
  position: relative;
  z-index: 50;
}
.information__picture-iphone {
  width: 157px;
  height: 283px;
  background-color: #F10442;
  background: url("../img/iphone-screen-tablet-3@1x.png") no-repeat;
  background-size: 157px 283px;
  margin: 0 auto;
}
.information__picture--index {
  display: none;
}
.intro {
  width: 300px;
  margin: 110px auto 0 auto;
}
.intro__title {
  color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}
.intro--correct-intro {
  width: 200px;
  margin: 110px auto 0 auto;
}
.intro--main {
  display: none;
}
.intro-inner {
  width: 78%;
  height: 140px;
  margin: 45px auto 0 auto;
}
.intro-inner--correct {
  margin: 0 auto;
}
.intro-inner__text {
  width: 245px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
.intro-inner--intro-form {
  width: 285px;
  height: 120px;
  margin: 0 auto;
  text-align: center;
}
.photo-upload__tools-scale-rail{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 280px;
  height: 2px;
  background-color: #283645;
  margin: 17px auto 32px auto;
  cursor: pointer;
}
.photo-upload__tools-scale-rail::-webkit-slider-thumb {
  box-sizing: border-box;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background-color: #f2f2f2;
  border: 2px solid #d22856;
  border-radius: 50%;
}
.photo-upload__tools-scale-rail::-moz-range-thumb {
  box-sizing: border-box;
  -moz-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.photo-upload__tools-scale-rail::-ms-thumb {
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.photo-upload__tools-scale-rail::-webkit-slider-thumb:active {
  background-color: #d22856;
}

.photo-upload__tools-scale-rail::-moz-range-thumb:active {
  background-color: #d22856;
}

.photo-upload__tools-scale-rail::-ms-thumb:active {
  background-color: #d22856;
}
.main-page-footer {
  padding-top: 1px;
}
.main-page-footer__title {
  width: 300px;
  margin: 50px auto 37px auto;
  color: #283645;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 24px;
  line-height: 27px;
  font-weight: 300;
}
.main-page-footer__contact {
  width: 215px;
  margin: 28px auto;
}
.main-page-footer__contact-text {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}
.main-page-footer__contact-value {
  color: #d22856;
  font-size: 24px;
  line-height: 25px;
  font-weight: 300;
}
.main-page-footer__contact-value--email:hover {
  color: #283645;
  text-decoration: underline;
}
.main-page-footer__contact-value--email:active {
  color: rgba(40, 54, 69, 0.57);
  text-decoration: none;
}
.nav-menu {
  min-width: 320px;
  height: 65px;
  background-color: rgba(0, 0, 0, 0.36);
  position: relative;
  z-index: 50;
}
.nav-menu__logo {
  display: block;
  position: absolute;
  top: 5px;
  left: -65px;
  width: 150px;
  height: 40px;
}
.nav-menu__svg {
  fill: #ffffff;
  margin-left: 13px;
}
.nav-menu__svg:hover {
  fill: #d22856;
}
.nav-menu__svg:active {
  fill: #6c7682;
}
.nav-menu__svg-hidden {
  display: none;
}
.nav-menu__container--hidden {
  display: none;
}
.nav-menu__list {
  display: block;
  position: absolute;
  padding-top: 65px;
  width: 100%;
  background-color: #1d2631;
}
.nav-menu__list-item {
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
}
.nav-menu__list-link {
  display: block;
  color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  background-color: #1d2631;
  padding: 13px;
}
.nav-menu__list-link:hover {
  color: #d22856;
}
.nav-menu__list-link:active,
.nav-menu__list-link--active-menu,
.nav-menu__list-link--active-menu:hover {
  color: rgba(210, 40, 86, 0.62);
}
.nav-menu__toggle-menu-icon {
  display: block;
  position: absolute;
  width: 50px;
  height: 25px;
  font-size: 0;
  right: 20px;
  top: 20px;
}
.nav-menu__toggle-menu-icon--burger:before {
  top: 10px;
  box-shadow: 0 10px 0 0 #ffffff;
}
.nav-menu__toggle-menu-icon--burger:after {
  bottom: 4px;
}
.nav-menu__toggle-menu-icon--burger:before,
.nav-menu__toggle-menu-icon--burger:after {
  content: "";
  display: block;
  position: relative;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #ffffff;
}
.nav-menu__toggle-menu-icon--burger:hover::before,
.nav-menu__toggle-menu-icon--burger:hover::after,
.nav-menu__toggle-menu-icon--close:hover::before,
.nav-menu__toggle-menu-icon--close:hover::after {
  background-color: #d22856;
}
.nav-menu__toggle-menu-icon--burger:hover::before {
  box-shadow: 0 10px 0 0 #d22856;
}
.nav-menu__toggle-menu-icon--burger:active::before,
.nav-menu__toggle-menu-icon--burger:active::after,
.nav-menu__toggle-menu-icon--close:active::before,
.nav-menu__toggle-menu-icon--close:active::after {
  background-color: rgba(210, 40, 86, 0.62);
}
.nav-menu__toggle-menu-icon--burger:active::before {
  box-shadow: 0 10px 0 0 rgba(210, 40, 86, 0.62);
}
.nav-menu__toggle-menu-icon--close {
  width: 25px;
  height: 25px;
}
.nav-menu__toggle-menu-icon--close:before {
  transform: rotate(45deg);
  top: 11px;
  box-shadow: none;
}
.nav-menu__toggle-menu-icon--close:after {
  transform: rotate(-45deg);
  top: 7px;
}
.nav-menu__toggle-menu-icon--close:before,
.nav-menu__toggle-menu-icon--close:after {
  content: "";
  display: block;
  position: relative;
  left: -3px;
  z-index: 100;
  width: 30px;
  height: 4px;
  background-color: #ffffff;
}
.page-footer {
  min-width: 320px;
}
.page-footer__copyright {
  color: #000000;
  /*не удалять*/
  margin: 20px auto;
}
.page-footer__copyright {
  fill: #d22856;
}
.page-footer__copyright:hover {
  fill: #283645;
}
.page-footer__copyright:active {
  fill: #bec2c7;
}
.page-footer__copyright-list {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.page-footer__copyright-text {
  display: block;
  width: 100px;
  padding-top: 10px;
  font-size: 14px;
}
.page-footer__container {
  display: none;
}
.photo-upload {
  margin-top: 40px;
}
.photo-upload__head-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  padding: 0 24px;
}
.photo-upload__container-inner {
  background: #f2f2f2;
  padding: 65px 0 1px 0;
}
.photo-upload__tools {
  margin: 30px auto;
}
.photo-upload__tools-list {
  display: flex;
  justify-content: center;
}
.photo-upload__tools-scale {
  position: relative;
  margin-bottom: 35px;
  border-bottom: 2px solid #dddfe1;
}
.photo-upload__send {
  margin-bottom: 60px;
  margin-top: 45px;
}
.photo-upload__link {
  display: block;
  width: 280px;
  margin: 15px auto;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  padding: 15px 0;
}
.photo-upload__link--send {
  border: 2px solid #d22856;
  color: #d22856;
}
.photo-upload__link--send:hover {
  background-color: #d22856;
  color: #FFFFFF;
}
.photo-upload__link--send:active {
  color: #e06989;
}
.photo-upload__link--canceled {
  border: 2px solid #dddfe1;
  color: #dddfe0;
}
.photo-upload__link--canceled:hover {
  border: 2px solid #b5b9be;
  color: #b5b9be;
}
.photo-upload__link--canceled:active {
  background-color: #b5b9be;
  color: #cbced2;
}

.photo-upload__picture {
  width: 280px;
  height: 374px;
  margin: 0 auto;
  background-color: #f2f2f2;
}
.photo-upload__tool-icon {
  width: 50px;
  height: 50px;
  margin: 10px 15px;
}
.photo-upload__tool-icon svg:hover {
  fill: #b5b9be;
}
.photo-upload__tool-icon svg:active {
  fill: #8d949b;
}
.photo-upload__tool-icon--editor {
  fill: #d22856;
}
.photo-upload__tool-icon--contrast {
  margin-top: 10px;
  fill: #b5b9be;
}
.photo-upload__tool-icon--diagram {
  fill: #b5b9be;
}
.post {
  width: 280px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
}
.post--overall-width {
  min-width: 320px;
  padding: 0;
  background: #ffffff;
}
.post__author {
  padding: 0 15px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}
.post__author--best-post {
  padding: 20px 35px 20px 35px;
  background: #f2f2f2;
}
.post__picture {
  width: 100%;
  height: 180px;
  margin-bottom: 15px;
  flex-grow: 0;
  background-color: #978F96;
}
.post__picture--full-width {
  width: 100%;
  height: 137px;
  background-color: #978F96;
  position: relative;
  margin: 0;
}
.post__text {
  margin-bottom: 12px;
}
.post__like {
  vertical-align: bottom;
  cursor: pointer;
}
.post__author-name {
  font-weight: 700;
}
.post__author-time {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
}
.post__like-text {
  color: #d22856;
  position: relative;
  margin-left: 30px;
  text-transform: uppercase;
}
.heart {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../img/icon-heart.svg) no-repeat;
  background-size: contain;
  position: relative;
  top: 2px;
  left: 11px;
}
.heart.added {
  background: url(../img/icon-heart1.png) no-repeat;
}
.slider {
  width: 320px;
  margin: 0 auto;
  position: relative;
}
.slider__list {
  overflow: hidden;
  width: 320px;
  margin: 0 auto;
}
.slider__control {
  display: flex;
  flex-direction: column-reverse;
}
.slider__slider-controls {
  height: 13px;
  margin: 16px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.slider__slider-controls--price {
  margin: 40px 0;
}
.slider__control-element,
.slider__control-element-price {
  display: block;
  width: 6px;
  height: 6px;
  border: 2px solid #ffffff;
  background-color: #bec2c7;
  border-radius: 50%;
  margin: 0 6px;
}
.slider__control--price {
  margin: 27px auto;
}
.social {
  width: 250px;
  height: 60px;
  margin: 20px auto;
}
.social__list {
  display: flex;
  justify-content: center;
}
.social__icon {
  display: block;
  width: 45px;
  height: 45px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  margin: 0 5px;
}
.social__icon:hover {
  border: 3px solid #283645;
}
.social__icon:active {
  -webkit-filter: opacity(50%);
          filter: opacity(50%);
  border: 3px solid #e9ebec;
}
.social__icon--twitter svg,
.social__icon--facebook svg,
.social__icon--youtube svg {
  fill: #d22856;
  padding-top: 15px;
}
.social__icon--youtube svg {
  padding-left: 5px;
}
.price {
  margin-top: 115px;
}
.price__table-mobile {
  border: 1px solid #FFFFFF;
  border-collapse: collapse;
  margin: 0 auto;
  width: 850px;
}
.price__table {
  display: none;
}
.price__table-head-invisible {
  border: 0;
}
.price__table-head {
  width: 280px;
  height: 98px;
  border: 0;
  border-left: 2px solid #e5e5e5;
  background-color: #283645;
  color: #FFFFFF;
  position: relative;
}
.price__table-head-name {
  text-transform: uppercase;
  margin-top: 6px;
}
.price__table-head-price {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;
}
.price__table-cell {
  border: 2px solid #e5e5e5;
  height: 58px;
  position: relative;
  padding: 0 70px 0 25px;
}
.price__table-option {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  text-align: left;
}
.price__table-cell--included:after {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 12px;
  top: 15px;
  right: 8%;
  border-radius: 3px;
  border-bottom: 4px solid #3dc644;
  border-left: 4px solid #3dc644;
  transform: rotate(-45deg);
}
.price__table-cell--exclude:after {
  content: "";
  display: block;
  position: absolute;
  width: 27px;
  height: 27px;
  top: 15px;
  right: 8%;
  background-image: linear-gradient(45deg, transparent 46%, #f25b26 46%, #f25b26 54%, transparent 54%), linear-gradient(-45deg, transparent 43%, #f25b26 43%, #f25b26 52%, transparent 52%);
}
.price__table-head--hit:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  background-image: linear-gradient(135deg, transparent 23%, #d22856 23%, #d22856 50%, transparent 50%);
}
.price__table-head--hit:after {
  content: "ХИТ";
  position: absolute;
  top: 15px;
  left: 12px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  transform: rotate(-45deg);
}
.intro-application-container {
  width: 100%;
  height: 500px;
  position: relative;
  z-index: 45;
  top: -80px;
  margin-bottom: -110px;
  background: #1d2631;
  background: url("../img/iphone-hand-tablet@1x.png") no-repeat -110px 155px, url("../img/bg-back-tablet@1x.jpg") center 10px no-repeat;
  background-size: auto 315px, auto 500px;
}
.intro-application-container--intro-application-correct {
  min-width: 320px;
  height: 250px;
  background: transparent url("../img/bg-back-tablet@1x.jpg") center 10px no-repeat;
  background-size: auto 500px;
  margin-bottom: -35px;
}
.review__container {
  display: flex;
  justify-content: flex-start;
}
.review__item {
  padding: 38px 40px 20px;
}
.review__author {
  color: #000000;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 12px;
}
.review__story {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
.review__employment, .review__picture, .research {
  display: none;
}
.review__toggle {
  display: block;
  position: absolute;
  z-index: 100000;
  width: 100%;
  height: 40px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.review__toggle-pointer {
  display: block;
  width: 30px;
  height: 30px;
  border-right: 2px solid #caced1;
  border-bottom: 2px solid #caced1;
  border-radius: 2px;
}
.review__toggle-pointer:hover {
  border-right: 2px solid #7e868f;
  border-bottom: 2px solid #7e868f;
}
.review__toggle-pointer:active {
  border-right: 2px solid #e9ebec;
  border-bottom: 2px solid #e9ebec;
}
.review__toggle-pointer--left {
  position: absolute;
  transform: rotate(135deg);
  left: 10px;
}
.review__toggle-pointer--right {
  position: absolute;
  right: 10px;
  transform: rotate(-45deg);
}
.logo {
  width: 250px;
  height: 60px;
  /*не удалять*/
  margin: 20px auto;
}
.logo--nav-menu svg {
  fill: #ffffff;
}
.logo__logo-item,
.logo__logo-mobile-nav-menu,
.logo__logo-item-page-footer {
  display: none;
}
.logo__logo-main--nav-menu {
  float: left;
  margin-left: -50px;
  margin-top: 5px;
}
.logo--nav-menu svg:hover,
.logo--page-footer svg:hover {
  fill: #d22856;
}
.logo--nav-menu svg:active,
.logo--page-footer svg:active {
  fill: #6c7682;
}
.logo__logo-mobile-page-footer:active {
  fill: #6c7682;
}
.logo__logo-mobile-page-footer {
  fill: #d22856;
}
.best-picture {
  display: block;
  position: absolute;
  width: 140px;
  height: 30px;
  background-color: #d22856;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-top: 6px;
  top: 0;
  right: 20px;
}
.background-container {
  width: 100%;
  position: relative;
  background-color: #f2f2f2;
  padding-top: 0;
}
.background-container:before {
  content: "";
  position: absolute;
  z-index: 30;
  left: 0;
  top: -40px;
  display: block;
  width: 100%;
  height: 40px;
  background-image: linear-gradient(to right bottom, #ffffff 50%, #f2f2f2 50%);
}
.background-container--desktop:before {
  display: none;
}
.background-container--price:before {
  top: 0;
}
.slider__control-price {
  display: flex;
  flex-direction: column-reverse
}
.slider__control-price input[type=radio] {
  display: none
}
.slider__slider-controls {
  height: 13px;
  margin: 16px auto;
  display: flex;
  flex-direction: row;
  justify-content: center
}
.slider__slider-controls--price {
  margin: 40px 0
}
.slider__control-element-checked-1:checked~.slider__slider-controls label[for=btn-1],.slider__control-element-checked-2:checked~.slider__slider-controls label[for=btn-2],.slider__control-element-checked-3:checked~.slider__slider-controls label[for=btn-3],.slider__control-element-price-checked-1:checked~.slider__slider-controls label[for=toggle-1],.slider__control-element-price-checked-2:checked~.slider__slider-controls label[for=toggle-2],.slider__control-element-price-checked-3:checked~.slider__slider-controls label[for=toggle-3] {
  background-color: #fff;
  border: 3px solid #283645;
  cursor: default
}
.slider__control-element,.slider__control-element-price {
  display: block;
  width: 6px;
  height: 6px;
  border: 2px solid #fff;
  background-color: #bec2c7;
  border-radius: 50%;
  margin: 0 6px
}
#btn-1:checked~.slider__list .review__container {
  transform: translate(0)
}
#btn-2:checked~.slider__list .review__container {
  transform: translate(-472px)
}
#btn-3:checked~.slider__list .review__container {
  transform: translate(-944px)
}
#toggle-1:checked~.slider__list--table .price__table-mobile {
  transform: translate(0)
}
#toggle-2:checked~.slider__list--table .price__table-mobile {
  transform: translate(-266px)
}
#toggle-3:checked~.slider__list--table .price__table-mobile {
  transform: translate(-532px)
}
.slider__control--price {
  margin: 27px auto
}
@media (min-width: 660px) {
  .layout-center-wrapper {
    width: 660px;
  }
  .layout-center-wrapper--nav-menu {
    width: 100%;
  }
  .address-map {
    height: 380px;
    margin-bottom: 20px;
  }
  .address-map__iframe {
    height: 380px;
  }
  .address-map:before,
  .address-map:after {
    height: 90px;
  }
  .application-download {
    width: 320px;
    height: 305px;
    margin-top: 25px;
    background-color: rgba(29, 38, 49, 0.01);
    padding-top: 0;
  }
  .application-download__apps-list {
    margin-top: 45px;
    margin-bottom: 31px;
  }
  .application-download__link {
    width: 293px;
    margin-left: 18px;
  }
  .application-download__text {
    width: 300px;
    margin: 15px auto;
    font-size: 18px;
  }
  .fieldset {
    width: 620px;
    position: relative;
    text-align: center;
    border: 2px solid #e5e5e5;
  }
  .fieldset--user-initials {
    border: 2px solid #ffffff;
  }
  .fieldset--contact-information {
    text-align: center;
    padding-top: 40px;
  }
  .fieldset--checkbox-block-container {
    margin-bottom: 60px;
  }
  .fieldset__input {
    width: 80%;
    margin-bottom: 50px;
    position: relative;
  }
  .fieldset__input--correct {
    margin-left: 42px;
  }
  .fieldset__checkbox-block {
    margin: 65px 58px;
    height: 17px;
  }
  .fieldset__checkbox-label {
    padding-left: 60px;
  }
  .fieldset__item-contact {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 15px;
  }
  .fieldset__input--contact-information {
    width: 77%;
    margin: 0 auto;
  }
  .fieldset__phone-svg {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 65px;
    right: 80px;
  }
  .fieldset__mail-svg {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 200px;
    right: 80px;
  }
  .fieldset__text-hidden-mobile {
    display: none;
  }
  .fieldset__text-hidden {
    display: block;
    color: #d22856;
    font-size: 14px;
    text-transform: uppercase;
  }
  .fieldset__text--contact-information {
    text-align: left;
    line-height: 55px;
    padding-left: 80px;
  }
  .fieldset__text {
    margin-left: 0;
    margin-right: 15px;
  }
  .fieldset__devices-element {
    margin-left: 70px;
  }
  .fieldset__devices-element--correct {
    margin-top: 50px;
  }
  .fieldset__devices-element--bottom {
    margin-bottom: 70px;
  }
  .fieldset__text--title {
    display: block;
    position: absolute;
    margin-right: 0;
    background-color: #FFFFFF;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    text-align: center;
    width: 370px;
    line-height: 30px;
  }
  .fieldset__text--title-contact {
    display: block;
    position: absolute;
    margin-right: 0;
    background-color: #FFFFFF;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    text-align: center;
    width: 265px;
  }
  .fieldset__text--title-checkbox {
    display: block;
    position: absolute;
    margin-right: 0;
    background-color: #FFFFFF;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    text-align: center;
    width: 435px;
    line-height: 30px;
  }
  .fieldset__text--title-user-review {
    display: block;
    position: absolute;
    margin-right: 0;
    background-color: #FFFFFF;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    text-align: center;
    width: 235px;
  }
  .fieldset__text--title-device {
    width: 65px;
  }
  .fieldset__radio-label {
    margin-left: -11px;
  }
  .fieldset__textarea {
    width: 470px;
    height: 175px;
    margin: 45px auto;
  }
  .form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .form__container {
    width: 94%;
    margin: 0 auto;
  }
  .form__container--user-initials-container {
    order: 1;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .form__container--device-container {
    order: 2;
    margin: 15px auto 65px auto ;
  }
  .form__container--contact-information-container {
    order: 3;
    margin-bottom: 65px;
  }
  .form__container--user-achievements-container {
    order: 4;
  }
  .form__container--user-review {
    order: 5;
  }
  .form__container--submit {
    order: 6;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
  }
  .form__submit-btn {
    width: 300px;
    margin: 0;
  }
  .form__submit-text-required-fields {
    width: 250px;
    margin-top: 0;
    text-align: right;
  }
  .form__submit-ok,
  .form__submit-error {
    width: 460px;
    margin: 0 auto;
  }
  .form__submit-title {
    width: 305px;
    font-size: 30px;
    line-height: 40px;
    margin: 0 auto 30px auto;
  }
  .form__submit-text {
    width: 310px;
    color: #283645;
    font-size: 18px;
    line-height: 24px;
  }
  .form__submit-btn--ok {
    width: 300px;
    margin: 50px auto 0 auto;
  }
  .form__submit-title-error {
    width: 230px;
  }
  .form__submit-text--error {
    width: 300px;
    margin: 0 auto 40px auto;
  }
  .information {
    margin-top: 0;
  }
  .information__container-title {
    width: 620px;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 40px;
    line-height: 48px;
  }
  .information__article-container {
    width: 100%;
  }
  .information__title {
    margin-bottom: 0;
  }
  .information__title--flacky {
    padding: 0 30px;
  }
  .information__article-container {
    display: flex;
    flex-direction: row;
  }
  .information__article-container-inner {
    width: 53%;
    order: 2;
    margin-left: 30px;
    margin-top: 75px;
  }
  .information__article {
    margin-bottom: 35px;
    text-align: left;
    padding: 0 15px;
  }
  .information__picture {
    margin-top: 0;
    margin-left: 20px;
    order: 1;
    width: 40%;
    height: 485px;
  }
  .information__picture-iphone {
    width: 268px;
    height: 485px;
    background: url("../img/iphone-screen-tablet-3@2x.png") no-repeat;
    background-size: 264px 485px;
    margin: 0 auto;
  }
  .intro {
    width: 500px;
    margin-top: 190px;
  }
  .intro__title {
    font-size: 40px;
    line-height: 48px;
  }
  .intro--main {
    display: block;
    width: 235px;
    height: 150px;
    margin-top: 225px;
    margin-left: 50px;
  }
  .intro__title--correct-title {
    font-size: 50px;
    line-height: 60px;
    font-weight: 300;
  }
  .intro--correct-intro {
    width: 360px;
    margin-top: 190px;
  }
  .intro-inner {
    width: 78%;
    height: 130px;
    margin: 50px auto 1px auto;
  }
  .intro-inner__text {
    width: 465px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
  .intro-inner__text-form:after {
    content: "Пожалуйста, заполните форму ниже:";
  }
  .intro-inner--intro-form {
    width: 83%;
  }
  .main-page-footer__title {
    width: 500px;
    font-size: 40px;
    line-height: 46px;
    font-weight: 300;
    margin-top: 25px;
  }
  .main-page-footer__contacts {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-page-footer__contact {
    width: 240px;
    margin: 10px 35px 40px 35px;
  }
  .nav-menu {
    height: 110px;
  }
  .nav-menu__logo {
    width: 150px;
    height: 40px;
    top: 25px;
    left: 23px;
  }
  .nav-menu__svg {
    margin-top: 5px;
    margin-left: 18px;
  }
  .nav-menu__toggle-menu-icon {
    top: 45px;
    right: 40px;
  }
  .nav-menu__list {
    padding-top: 110px;
  }
  .nav-menu__svg-hidden {
    display: block;
  }
  .photo-upload__tools-scale-rail{
    width: 190px;
    margin: 28px auto 28px auto;
  }
  .page-footer {
    margin-top: 20px;
  }
  .page-footer__container {
    display: flex;
    justify-content: space-between;
    height: 100px;
  }
  .page-footer__copyright {
    width: 250px;
    height: 60px;
  }
  .page-footer__copyright-list {
    margin-top: 11px;
    margin-bottom: 0;
  }
  .page-footer__copyright-text {
    font-size: 18px;
    padding-right: 20px;
    padding-top: 5px;
  }
  .page-footer__page-footer-inner-container {
    display: flex;
    justify-content: space-between;
  }
  .page-footer__copyright-logo {
    display: block;
    width: 30px;
  }
  .page-footer__logo-htmlacademy {
    color: #d22856;
  }
  .page-footer__logo-htmlacademy:hover {
    color: #000000;
  }
  .page-footer__logo-htmlacademy:active {
    color: #dddfe1;
  }
  .photo-upload {
    width: 100%;
    margin-top: 45px;
  }
  .photo-upload__container-text {
    margin-bottom: 60px;
  }
  .photo-upload__head-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
  .photo-upload__container-inner {
    display: flex;
    flex-direction: row;
  }
  .photo-upload__picture {
    width: 300px;
    height: 400px;
  }
  .photo-upload__tools {
    width: 50%;
    margin: 0;
  }
  .photo-upload__container-tools {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .photo-upload__tools-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -4px;
  }
  .photo-upload__container-tools-scale {
    width: 320px;
  }
  .photo-upload__tools-scale {
    border-bottom: 2px solid #dddfe1;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 8px;
    margin-left: 35px;
  }
  .photo-upload__tool-icon {
    margin: 10px 40px;
  }
  .photo-upload__tool-icon svg {
    position: relative;
    z-index: 50;
    fill: #d22856;
    margin-top: 0;
  }
  .photo-upload__tool-icon--diagram,
  .photo-upload__tool-icon--editor {
    width: 22px;
    height: 22px;
  }
  .photo-upload__tool-icon--contrast {
    width: 16px;
    height: 16px;
  }
  .photo-upload__tool-icon {
    width: 23px;
    height: 23px;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .photo-upload__tool-icon svg:hover {
    fill: #b5b9be;
  }
  .photo-upload__tool-icon svg:active {
    fill: #8d949b;
  }
  .photo-upload__send {
    margin-top: 65px;
  }
  .photo-upload__link {
    width: 255px;
    margin-bottom: 25px;
  }
  .post {
    width: 300px;
    min-height: 450px;
    padding: 0;
    margin-bottom: 25px;
  }
  .post--overall-width {
    width: 100%;
    height: auto;
    margin-bottom: 65px;
  }
  .post__picture {
    height: 300px;
    margin-bottom: 20px;
  }
  .post__picture--full-width {
    margin: 0;
    width: 100%;
    height: 510px;
  }
  .post__author {
    padding: 0 25px;
  }
  .post__author--best-post {
    margin-top: 0;
    padding: 20px 45px;
    position: relative;
  }
  .post__text--best {
    width: 530px;
  }
  .post__text {
    margin-bottom: 15px;
  }
  .post__like-text--best {
    display: block;
    position: absolute;
    top: 20px;
    right: 80px;
  }
  .post__like-text {
    display: block;
    margin-bottom: 20px;
    margin-left: 0;
    font-size: 12px;
    line-height: 24px;
  }
  .post__like-text:before {
    left: 230px;
  }
  .post__like-text--best:before {
    left: 110px;
  }
  .slider {
    width: 660px;
  }
  .slider__list {
    width: 100%;
  }
  .slider__control--price,
  .slider__slider-controls--price {
    display: none;
  }
  #btn-1:checked ~ .slider__list .review__container {
    transform: translate(-56px);
  }
  #btn-2:checked ~ .slider__list .review__container {
    transform: translate(-845px);
  }
  #btn-3:checked ~ .slider__list .review__container {
    transform: translate(-1635px);
  }
  .posts {
    width: 97%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .price {
    width: 100%;
    margin-top: 50px;
  }
  .price__table-mobile {
    display: none;
  }
  .price__table {
    margin: 0 auto 70px auto;
    width: 95%;
    display: block;
  }
  .price__table-head {
    width: 156px;
    height: 79px;
  }
  .price__table-option {
    text-transform: none;
  }
  .price__table-cell {
    width: 135px;
    height: 45px;
    padding-left: 20px;
    padding-right: 0;
  }
  .price__table-cell--included:after,
  .price__table-cell--exclude:after {
    top: 10px;
    left: 45%;
  }
  .price__table-head--hit:before {
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
  }
  .price__table-head--hit:after {
    top: 14px;
    left: 6px;
  }
  .intro-application-container {
    width: 100%;
    height: 450px;
  }
  .intro-application-container--intro-application-correct {
    margin-top: -40px;
    background: transparent url("../img/bg-back-tablet@2x.jpg") center -10px no-repeat;
    background-size: auto 740px;
  }
  .intro-application-container--main {
    height: 750px;
    top: -130px;
    background: #1d2631;
    background: url("../img/iphone-hand-tablet@1x.png") no-repeat bottom center, url("../img/bg-back-tablet@1x.jpg") no-repeat -252px 20px;
    background-size: 692px 543px, auto 750px;
  }
  .review__container {
    margin: 0 auto;
  }
  .review__item {
    display: flex;
    flex-direction: column-reverse;
  }
  .review__employment {
    display: block;
    font-size: 14px;
  }
  .review__story {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 36px;
  }
  .research {
    display: block;
    width: 100%;
    margin-bottom: 50px;
  }
  .research__research-container {
    display: inline-flex;
    position: relative;
  }
  .research__picture-timer {
    width: 240px;
    height: 270px;
    margin-top: 20px;
    margin-left: 20px;
  }
  .research__picture-timer-svg {
    fill: #dedede;
    width: 240px;
    height: 270px;
  }
  .research__picture-timer:before {
    content: "24";
    position: absolute;
    top: 73px;
    left: 40px;
    display: block;
    width: 175px;
    height: 175px;
    border: 13px solid #d22856;
    border-radius: 50%;
    text-align: center;
    font-size: 96px;
    line-height: 160px;
    color: #d22856;
    font-weight: 700;
  }
  .research__text {
    width: 60%;
    height: auto;
    margin-top: 55px;
    text-align: left;
    font-size: 14px;
    margin-left: 70px;
  }
  .research__title {
    width: 180px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 12px;
  }
  .research__story {
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
  .research__link {
    color: #d22856;
    border-bottom: 1px solid #d22856;
  }
  .logo__logo-mobile-nav-menu {
    display: block;
  }
  .logo__logo-main--nav-menu {
    margin-top: 31px;
    float: left;
    margin-left: 40px;
  }
  .best-picture {
    top: 55px;
    right: 40px;
  }
  .background-container {
    padding-top: 35px;
  }
  .background-container--desktop {
    background-color: #FFFFFF;
  }
  .background-container--desktop:before {
    display: none;
  }
  .background-container:before {
    top: -15px;
    width: 100%;
    height: 95px;
  }
}
@media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
  .intro-application-container {
    background: #1d2631;
    background: url("../img/iphone-hand-tablet@2x.png") no-repeat bottom center, url("../img/bg-back-tablet@2x.jpg") no-repeat -252px 20px;
    background-size: 692px 543px, auto 730px;
  }
}
@media (min-width: 960px) {
  .layout-center-wrapper {
    width: 960px;
  }
  .layout-center-wrapper--nav-menu {
    width: 960px;
  }
  .address-map {
    height: 500px;
    margin-bottom: 30px;
  }
  .address-map__iframe {
    height: 500px;
  }
  .address-map:before,
  .address-map:after {
    height: 140px;
  }
  .application-download {
    margin-top: 50px;
  }
  .application-download__link {
    font-size: 21px;
    margin-left: 10px;
  }
  .application-download__apps-list {
    margin-top: 65px;
  }
  .application-download__text {
    margin: 48px auto;
  }
  .fieldset {
    width: 935px;
  }
  .fieldset--user-initials {
    width: 435px;
    margin-top: -10px;
    margin-left: 1px;
  }
  .fieldset--devices {
    width: 435px;
  }
  .fieldset__devices-element--bottom {
    margin-bottom: 80px;
  }
  .fieldset__devices-element {
    margin-left: 90px;
  }
  .fieldset__input {
    width: 70%;
    margin-bottom: 50px;
  }
  .fieldset__input--correct {
    margin-left: 42px;
  }
  .fieldset--contact-information {
    margin-bottom: 60px;
    padding: 40px 0 0 0;
  }
  .fieldset__inner-container {
    display: flex;
    justify-content: space-between;
    width: 820px;
    margin: 0 auto;
  }
  .fieldset__input--contact-information {
    width: 355px;
    margin: 0;
  }
  .fieldset__phone-svg {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 60px;
    left: 390px;
  }
  .fieldset__mail-svg {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 60px;
    right: 80px;
  }
  .fieldset__item-contact {
    margin-bottom: 0;
  }
  .fieldset__text--contact-information {
    line-height: 50px;
    padding-left: 15px;
  }
  .fieldset--checkbox-block-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px 0;
    height: 180px;
  }
  .fieldset__checkbox-block {
    width: 260px;
    margin: 33px 0 33px 50px;
  }
  .fieldset__checkbox-label {
    left: 60px;
  }
  .fieldset__textarea {
    width: 780px;
    height: 110px;
    text-align: left;
    padding-left: 20px;
  }
  .form {
    display: flex;
    margin-bottom: 10px;
  }
  .form__container {
    width: 100%;
  }
  .form__container--contact-information-container {
    margin: 0 auto;
  }
  .form__container--user-initials-container {
    width: 50%;
    margin: 0;
  }
  .form__container--device-container {
    width: 45%;
    margin-top: -10px;
    margin-left: 30px;
  }
  .form__submit-text-required-fields {
    width: 550px;
  }
  .form__container--submit {
    margin-top: 50px;
  }
  .form__submit-text-required-fields:after {
    content: "для заполнения поля";
  }
  .form__submit-ok {
    width: 780px;
  }
  .form__submit-title {
    width: 100%;
    font-size: 30px;
    line-height: 40px;
    margin: 0 auto 30px auto;
  }
  .form__submit-text {
    width: 375px;
    color: #283645;
    font-size: 18px;
    line-height: 24px;
  }
  .form__submit-btn--ok {
    width: 460px;
  }
  .form__submit-title-error {
    width: 230px;
  }
  .form__submit-text--error {
    width: 300px;
    margin: 0 auto 40px auto;
  }
  .information {
    margin-top: -20px;
  }
  .information__container-title {
    width: 760px;
    margin-top: 73px;
    line-height: 55px;
    margin-bottom: 40px;
  }
  .information__title--flacky {
    line-height: 60px;
  }
  .information__title {
    font-size: 50px;
  }
  .information__article-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .information__article-container-inner {
    order: 2;
    width: 100%;
    display: inline-flex;
    margin: 58px auto 30px auto;
  }
  .information__picture {
    margin-top: 0;
    margin-left: 0;
    order: 1;
    width: 100%;
    height: auto;
  }
  .information__article {
    width: 240px;
    margin: 0;
    text-align: center;
    padding: 0 40px;
  }
  .information__article-title {
    font-size: 30px;
    line-height: 27px;
    margin-bottom: 29px;
  }
  .information__article-story {
    font-size: 18px;
    line-height: 30px;
  }
  .information__picture-iphone:nth-child(1) {
    background: url("../img/iphone-screen-desktop-1@2x.png") no-repeat;
    background-size: 290px 300px;
  }
  .information__picture-iphone:nth-child(2) {
    margin: 0 25px;
    background: url("../img/iphone-screen-desktop-2@2x.png") no-repeat;
    background-size: 290px 300px;
  }
  .information__picture-iphone {
    display: inline-flex;
    width: 300px;
    height: 300px;
    background: url("../img/iphone-screen-desktop-3@2x.png") no-repeat center;
    background-size: 290px 300px;
  }
  .intro {
    width: 55%;
    margin-top: 177px;
  }
  .intro--main {
    width: 300px;
    height: 177px;
    margin-top: 245px;
    margin-left: 10px;
  }
  .intro__title {
    font-size: 50px;
    line-height: 59px;
  }
  .intro--correct-intro {
    width: 550px;
    margin-top: 175px;
  }
  .intro-inner {
    width: 65%;
    margin: 46px auto 20px auto;
  }
  .intro-inner__text {
    width: 595px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
  .intro-inner--intro-form {
    width: 80%;
  }
  .main-page-footer__title {
    width: 500px;
    margin: 35px auto 50px auto;
    font-size: 50px;
    line-height: 57px;
    font-weight: 300;
  }
  .main-page-footer__contacts {
    display: flex;
  }
  .main-page-footer__contact {
    margin: 10px 40px 40px 40px;
  }
  .main-page-footer__contact--phone {
    order: 1;
  }
  .main-page-footer__contact--email {
    order: 3;
  }
  .main-page-footer__contact--address {
    order: 2;
  }
  .main-page-footer__contact-text {
    margin-bottom: 25px;
  }
  .nav-menu {
    height: 110px;
    display: flex;
  }
  .nav-menu__logo {
    display: none;
  }
  .nav-menu__toggle-menu-icon {
    display: none;
  }
  .nav-menu__container {
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
  }
  .nav-menu__list-item {
    border: none;
  }
  .nav-menu__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 50px;
    margin-top: 0;
    position: static;
    padding-top: 0;
    background-color: rgba(29, 38, 49, 0);
  }
  .nav-menu__list-link:hover {
    color: #ffffff;
  }
  .nav-menu__list-link {
    color: #ffffff;
    padding: 15px 0;
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-transform: none;
    background-color: rgba(29, 38, 49, 0);
  }
  .nav-menu__list-link:hover {
    border-bottom: 2px solid #ffffff;
  }
  .nav-menu__list-link:active {
    border-bottom: 0;
    color: #ad956f;
    color: rgba(255, 255, 255, 0.5);
  }
  .nav-menu__list-link--active-menu,
  .nav-menu__list-link--active-menu:hover {
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 0;
  }
  .photo-upload__tools-scale-rail{
    width: 290px;
    margin: 17px 30px 32px 0;
  }
  .page-footer {
    margin-top: 40px;
  }
  .photo-upload {
    margin-top: 5px;
  }
  .photo-upload__picture {
    margin-left: 85px;
  }
  .photo-upload__tools {
    margin-right: 70px;
  }
  .photo-upload__tools-list {
    top: -17px;
    left: 50px;
  }
  .photo-upload__tool-icon {
    margin: 10px 15px;
  }
  .photo-upload__container-tools-scale {
    width: 420px;
  }
  .photo-upload__tools-scale {
    margin-bottom: 19px;
    margin-left: 0;
  }
  .photo-upload__tool-icon {
    width: 23px;
    height: 23px;
    margin-top: 13px;
    margin-bottom: 40px;
  }
  .photo-upload__tool-icon--diagram,
  .photo-upload__tool-icon--editor {
    width: 44px;
    height: 44px;
  }
  .photo-upload__tool-icon--contrast {
    width: 32px;
    height: 32px;
    margin-left: 5px;
  }
  .photo-upload__send {
    display: flex;
    flex-direction: row;
    width: 450px;
    margin: 115px 0 70px 45px;
  }
  .photo-upload__link {
    width: 180px;
  }
  .post {
    margin-bottom: 55px;
    padding: 0;
    min-height: 555px;
  }
  .post--overall-width {
    margin-bottom: 55px;
  }
  .post__picture {
    height: 400px;
  }
  .post__picture--full-width {
    width: 100%;
    height: 507px;
  }
  .post__author--best-post {
    padding: 20px 35px;
    margin-bottom: 10px;
  }
  .post__text {
    margin-bottom: 10px;
  }
  .post__text--best {
    width: 100%;
    margin-bottom: 10px;
  }
  .slider {
    width: 960px;
  }
  .slider__list {
    width: 100%;
    margin: 0 auto;
  }
  .slider__list--table {
    width: 960px;
  }
  #btn-1:checked ~ .slider__list .review__container {
    transform: translate(0);
  }
  #btn-2:checked ~ .slider__list .review__container {
    transform: translate(0);
  }
  #btn-3:checked ~ .slider__list .review__container {
    transform: translate(0);
  }
  .slider__slider-controls {
    display: none;
  }
  .posts {
    width: 100%;
  }
  .price {
    margin-top: 140px;
  }
  .price__table-head {
    width: 237px;
    height: 98px;
  }
  .price__table-cell {
    width: 214px;
    height: 55px;
  }
  .price__table-option {
    font-size: 18px;
  }
  .price__table-cell--included:after,
  .price__table-cell--exclude:after {
    top: 15px;
  }
  .price__table {
    width: 98%;
    margin-bottom: 95px;
  }
  .price__table-head--hit:before {
    width: 75px;
    height: 75px;
  }
  .price__table-head--hit:after {
    top: 18px;
    left: 13px;
  }
  .intro-application-container {
    background: #1d2631;
    height: 395px;
  }
  .intro-application-container--intro-application-correct {
    width: 100%;
    background: url("../img/bg-back-tablet@2x.jpg") center -413px no-repeat;
    background-size: auto;
  }
  .intro-application-container--main {
    height: 875px;
    background: url("../img/iphone-hand-tablet@2x.png") no-repeat bottom left 56%, url("../img/bg-back-tablet@2x.jpg") no-repeat center -227px;
    background-size: 824px 637px, auto 1281px;
  }
  .review {
    width: 100%;
    position: relative;
  }
  .review__container {
    width: 2142px;
    margin-left: -10px;
  }
  .review__item {
    margin: 35px auto 0 auto;
    width: 960px;
  }
  .review__author {
    font-size: 24px;
  }
  .review__employment {
    display: block;
    font-size: 18px;
  }
  .review__story {
    margin-top: 45px;
  }
  .review__picture {
    display: block;
    width: 80px;
    height: 63px;
    margin: 0 auto;
    background-color: #c2ccd1;
    background: url("../img/icon-quotes.svg") no-repeat;
  }
  .research__text {
    width: 56%;
    margin-left: 60px;
    margin-top: 90px;
  }
  .research__title {
    width: 400px;
    margin-bottom: 19px;
  }
  .research__story {
    margin-bottom: 35px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
  .research__link {
    color: #d22856;
    border-bottom: 1px solid #d22856;
    font-size: 18px;
  }
  .research__picture-timer {
    width: 300px;
    height: 345px;
    margin-left: 20px;
  }
  .research__picture-timer-svg {
    fill: #dedede;
    width: 300px;
    height: 345px;
  }
  .research .research__picture-timer:before {
    top: 90px;
    left: 45px;
    width: 215px;
    height: 215px;
    border: 18px solid #d22856;
    font-size: 115px;
    line-height: 202px;
  }
  .logo__logo-mobile-nav-menu {
    display: none;
  }
  .logo__logo-item,
  .logo__logo-mobile-page-footer,
  .logo__logo-item-page-footer {
    display: block;
  }
  .logo__logo-mobile-page-footer {
    fill: #d22856;
  }
  .logo__logo-item-page-footer {
    fill: #000000;
  }
  .logo .logo__logo-main--nav-menu {
    margin-left: 15px;
    margin-right: 10px;
  }
  .background-container {
    background-color: #f2f2f2;
  }
  .background-container:before {
    top: 0;
    height: 110px;
  }
}
